<a href="/ideas">Bright Ideas</a>
<a href="/sessions" data-method="delete">Log Out</a>
<p>Name: <%= @user.name %></p>
<p>Alias: <%= @user.alias %></p>
<p>Email: <%= @user.email %></p>
<hr>
<p>Total number of Posts: <%= @posts %></p>
<p>Total number of Likes: <%= @likes %></p>